
@model List<Customer>


<link rel="stylesheet" href="~/css/AllCustomersPage.css" asp-append-version="true"/>

<div class="content">
    <div class="container mt-4">
        <h1>Customers</h1>
        <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search...">
        <table class="table table-bordered table-hover" id="customersTable">
            <thead>
                <tr>
                    <th>Client Name</th>
                    <th>Type</th>
                    <th>Phone</th>
                    <th>Count of Orders</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ClientName</td>
                            <td>@item.CustomerType</td>
                            <td>@item.ContactPhone</td>
                            <td>@item.Orders.Count</td>
                            <td>
                                <a asp-action="CustomerViewPage" asp-route-Id="@item.Id" class="btn btn-primary">View Customer</a>
                                <a asp-action="EditCustomerPage" asp-route-Id="@item.Id" class="btn btn-warning">Edit Customer</a>
                                <a asp-action="DeleteCustomer" asp-route-Id="@item.Id" class="btn btn-danger delete-btn">Delete Customer
                                    <span class="progress-bar"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Customers not exist!</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a asp-action="AddNewCustomerPage" asp-controller="Admin" class="btn btn-success">Add new Customer +</a>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-btn");

            deleteButtons.forEach(button => {
                let timeout;
                let progressBar = button.querySelector(".progress-bar");

                button.addEventListener("mouseenter", function () {
                    if (!button.classList.contains("active")) {
                        progressBar.style.width = "100%"; 

                        timeout = setTimeout(() => {
                            button.classList.add("active"); 
                        }, 3000);
                    }
                });

                button.addEventListener("mouseleave", function () {
                    if (!button.classList.contains("active")) {
                        clearTimeout(timeout); 
                        progressBar.style.width = "0"; 
                    }
                });

                button.addEventListener("click", function (event) {
                    if (!button.classList.contains("active")) {
                        event.preventDefault(); 
                    }
                });
            });
        });



        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#customersTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}