
@model Employeer

@{
}

<div>
    @if (@Model.Image != null)
    {
        <img style="height: 150px; width: 150px" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Image)"/>
    }

    <h3>@Model.FirstName  @Model.LastName</h3>


    <a asp-route-Orders="@Model.Orders" class="btn btn-primary">Show orders</a>
</div>
