@using AlvaCleanCRM.Models.ViewModels

@model ContentOfEmployeerViewModel

@{
}

<link rel="stylesheet" href="~/css/ContentOfEmployeerPage.css" asp-append-version="true" />

<div class="profile-container">
    
    <div class="profile-info">
        @if (@Model.Employeer.Image != null)
        {
            <img style="height: 150px; width: 150px" src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.Employeer.Image)" alt="Аватар" />
        }
        <h2>@Model.Employeer.FirstName @Model.Employeer.LastName</h2>
        <p>Role: @Model.Employeer.Role</p>
    </div>

    
    <div class="orders-section">
        <h3>Orders</h3>
            @if (Model.Orders.Count > 0)
            {
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Model.Orders)
                        {
                            <div class="swiper-slide order-card">
                                <h4>Order: #@item.Id</h4>
                                <p>Date: @item.OrderDate</p>
                                <p>Address: @item.Address</p>
                                <p>Price type: @item.OrderPriceType</p>
                            </div>
                        }
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            }
            else
            {
                <div>
                    <h4>Orders not exist!</h4>
                </div>
            }
    </div>
</div>

@section Scripts{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 20,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
}